<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>Save Settings?</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn"  (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="" cdkFocusInitial>Ok</button>

  <!-- <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button> -->
</div>
