
  <form [formGroup]="WalzenSetting">
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="firstWalzeSetting" [value]="firstWalze"  class="example-right-align" min="0" max="26">
    <span matSuffix> First Walze</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="secondWalzeSetting" [value]="secondWalze" class="example-right-align" min="0" max="26">
    <span matSuffix>Second Walze</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="thirdWalzeSetting" [value]="thirdWalze" class="example-right-align" min="0" max="26">
    <span matSuffix>Third Walze</span>
  </mat-form-field>
</form>
  
  <div id="search-component">
    <h4><label for="search-box">Put in Text</label></h4>
  
    <input #inputText id="search-box" (input)="inputCharacter(inputText.value)" />
  
  </div>
  <div [ngStyle]="{backgroundImage:'url(../../assets/blacktexture.jpg)'}">
    <ul>
      <div *ngFor="let char of this.firstRow; index as i;">
        <button *ngIf="!enigmaKeyboardLayout[i].light">
          {{enigmaKeyboardLayout[i].character}}
        </button>
        <button class="button-highlighted" *ngIf="enigmaKeyboardLayout[i].light && this.keypressed ">
          {{enigmaKeyboardLayout[i].character}}
        </button>
      </div>
    </ul>
    <ul>
      <div *ngFor="let char of this.secondRow; index as i;">
        <button *ngIf="!enigmaKeyboardLayout[i + 10].light">
          {{enigmaKeyboardLayout[i+10].character}}
        </button>
        <button class="button-highlighted" *ngIf="enigmaKeyboardLayout[i+10].light && this.keypressed ">
          {{enigmaKeyboardLayout[i+10].character}}
        </button>
      </div>
    </ul>
    <ul>
      <div *ngFor="let char of this.thirdRow; index as i;">
       <button *ngIf="!enigmaKeyboardLayout[i + 19].light">
        {{enigmaKeyboardLayout[i + 19].character}}
        </button>
        <button class="button-highlighted" *ngIf="enigmaKeyboardLayout[i + 19].light && this.keypressed">
          {{enigmaKeyboardLayout[i + 19].character}}
        </button>
      </div>
    </ul>
  </div>
  